USE TOP50

SELECT UF,SITE,COUNT(*)
FROM DISPONIBILIDADE_SITES_TOP50
GROUP BY UF,SITE

SELECT * FROM (
SELECT D.MUNICIPIO,C.IBGE,C.UF, SITE, SEMANA,CONVERT(DECIMAL(18,2),DISPONIBILIDADE) AS DISP
FROM DISPONIBILIDADE_SITES_TOP50 AS C
INNER JOIN MUNICIPIOS_TOP50 AS D ON C.IBGE = D.IBGE
WHERE DISPONIBILIDADE <=90
GROUP BY SEMANA,DISPONIBILIDADE,C.UF,SITE,C.IBGE,D.MUNICIPIO) A
PIVOT (SUM(DISP) FOR SEMANA IN ([14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27]))B
ORDER BY UF, SITE,IBGE

SELECT * FROM (
SELECT D.MUNICIPIO,C.IBGE,C.UF, SITE, SEMANA,CONVERT(DECIMAL(18,2),DISPONIBILIDADE) AS DISP
FROM DISPONIBILIDADE_SITES_TOP50 AS C
INNER JOIN MUNICIPIOS_TOP50 AS D ON C.IBGE = D.IBGE
WHERE DISPONIBILIDADE <=90
GROUP BY SEMANA,DISPONIBILIDADE,C.UF,SITE,C.IBGE,D.MUNICIPIO) A
PIVOT (SUM(DISP) FOR SEMANA IN ([W25],[W26],[W27]))B
ORDER BY UF, SITE,IBGE